.gallery {
    width: 80%;
    min-height: 80vh; 
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 120px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.grid img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    transition: 0.8s;
}

.grid img:hover {
    transform: scale(1.2);
}

@media (min-width: 60em){
    .span-col-4 {
        grid-column: span 4;
    }
    
    .span-2 {
        grid-column: span 2;
        grid-row: span 2;
    }
}


