.grid-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 350px;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
    'choco text1'
    'text2 boy';
}

.grid-area img:nth-child(1){
    grid-area: choco;
}

.grid-area div:nth-child(2){
    grid-area: text1;
}

.grid-area div:nth-child(3){
    grid-area: text2;
}

.grid-area img:nth-child(4){
    grid-area: boy;
}



.grid-area img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.grid-area div p {
    text-align: center;
    font-size: 1.9em;
}

@media (max-width: 600px) {
    .grid-area {
        grid-template-columns: 1fr;
        grid-template-areas: 
        'choco'
        'text1'
        'boy'
        'text2';
    }
}