:root {
    --main-chocolate: #7E370C;
    --secondary-yellow: #FFCE45;
    --text: #B05E27;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
}

.left {
    justify-content: flex-start;
    align-items: center;
}

.center {
    justify-content: center;
    align-items: center;
}

.right {
    justify-content: flex-end;
    align-items: center;
}

.gap {
    gap: 10px;
}

.column {
    flex-flow: column wrap;
}

.main-header {
    min-height: 86px;
    width: 100%;
    background: var(--main-chocolate);
    padding: 14px 16px;
}

.list {
    list-style-type: none;
}

.list li a {
    text-decoration: none;
    text-align: center;
    color: var(--secondary-yellow);
    padding: 14px 16px;
    transition: 0.5s;
    font-size: 1.5em;
    border-radius: 10px;
}

.list li a:hover {
    background: var(--text);
}

.container {
    width: 100%;
}

.side-content {
    background: var(--text);
    width: 40%;
    height: 80vh;
}

.side-content img {
    width: 80%;
    height: 60vh;
    object-fit: cover;
}

.main-section {
    background: var(--secondary-yellow);
    width: 60%;
    height: 80vh;
}

.main-section h1 {
    font-size: 2em;
    text-align: center;
    color: var(--main-chocolate);
}

.main-section p {
    font-size: 1.9em;
    color: var(--main-chocolate);
}

.main-footer {
    background: var(--main-chocolate);
    width: 100%;
    min-height: 100px;
}

.main-footer p{
    font-size: 1.8em;
    color: var(--secondary-yellow);
    text-align: center;
}

.bg-main {
    background: var(--main-chocolate);
}

.bg-second {
    background: var(--secondary-yellow);
}

::selection {
    background: var(--text);
    color: var(--secondary-yellow);
}